<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="text" name="category">
        <input type="text" name="material">
        <input type="text" name="quantity">
        <input type="text" name="price">
        <button type="submit">Add Stock</button>
    </form>
</body>
</html>