<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stats</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/scorecard">Scorecard</a>
    <a href="/stats">stats</a>

    <h1>virat kohli - 140            overtan 1-63</h1>
    <h1>phil salt - 120</h1>
    <h1>rajat patidar - 52</h1>

    <h1>extras - 8</h1>

    <h1>brevis - 15                  rasik dar salam  4 - 10</h1>
    <h1>samson - 10                  bhuvneshwar      4 - 9</h1>
    <h1>overtan - 5                  hazlewood        2 - 16</h1>
    <h1>extras - 4</h1>
</body>
</html>